/* ---------------FONTS--------------- */
/* ---------------OPEN SANS--------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ---------------MONTSERRAT--------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* ---------------ОБНУЛЕНИЕ САЙТА--------------- */
*, *::before, ::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

/* ---------------GENERAL CSS STYLE--------------- */
.container {
   max-width: 1100px;
   margin: 0 auto;
}

:root {
   --opensans: 'Open Sans', sans-serif;
   --montserrat: 'Montserrat', sans-serif;
}

.general__flex__button {
   display: flex;
   justify-content: center;
}

.general__input {
   width: 325px;
   height: 100%;
   padding: 10px 0 10px 15px;

   font-size: 16px;
   color: #8b8b8b;

   outline: none;
   background-color: #fff;
}

.general__input::placeholder {
   font: 400 16px var(--opensans);
   letter-spacing: 1px;
   color: #8b8b8b;
}

.general__button {
   width: 120px;
   height: 100%;
   padding: 0 10px 0 10px;

   font: 700 16px var(--opensans);
   text-align: center;
   letter-spacing: 1px;
   color: #ffffff;

   outline: none;
   background-color: #fd4f32;

   cursor: pointer;
   transition: all 0.5s ease;
}

.general__button:hover {
   background-color: #e6482d;
}

.general__button:active {
   background-color: #d44128;
}

/* ---------------HEADRER CSS STYLE--------------- */
.header {
   padding: 36px 0 220px 0;

   background: url('/img/header/background.png') 0 0/100% 100% no-repeat;
   
}

.header__flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 230px;
}

.header__flex img {
   cursor: pointer;
}

.header h1 {
   padding-bottom: 25px;

   font: 300 52px var(--opensans);
   text-align: center;
   letter-spacing: 2px;
   color: #ffffff;
}

/* ---------------ONE-PAGE CSS STYLE--------------- */
.one__page {
   padding: 60px 0 68px 0;

   border-bottom: 2px solid #E7E7E7;
   background-color: #eee;
}

.one__page h2 {
   padding-bottom: 15px;

   font: 400 16px var(--montserrat);
   color: #323232;
}

.one__page p {
   padding-bottom: 40px;

   font: 400 15px var(--opensans);
   color: #8b8b8b;
}

.container__flex__image {
   display: flex;
   justify-content: space-between;
   
}

.flex__img {
   width: 240px;
   border-bottom: 3px solid #e1dfd8;
   background-color: #fff;
}

.flex__img__position {
   position: relative;
}

.flex__img__position span {
   padding: 3px;

   font: 400 12px var(--montserrat);
   color: #fff;
   text-align: center;

   position: absolute;
   right: 10px;
   bottom: 15px;

   border-radius: 10px;
   cursor: pointer;
   transition: all 0.5s ease;
}

.flex__img__position span:hover {
   color: #000;
   background-color: rgb(37, 255, 37);
}

.flex__img__position span:active {
   color: #000;
   background-color: rgb(29, 199, 29);
}

.flex__img h3 {
   padding: 12px 0 0 20px;

   font: 600 14px var(--montserrat);
   color: #323232;
}

.flex__img p {
   padding: 11px 15px 20px 15px;

   font: 500 13px var(--opensans);
   line-height: 19px;
   color: #696969;
}

/* ---------------TWO-PAGE CSS STYLE--------------- */
.two__page {
   padding: 80px 0;
}

.two__page h2 {
   padding-bottom: 55px;

   font: 300 52px var(--opensans);
   letter-spacing: 2px;
   color: #323232;
}

.flex__divs {
   display: flex;
   justify-content: space-between;
   padding-bottom: 80px;
}

.divs {
   width: 33.33333%;
}

.divs h3 {
   padding-bottom: 20px;

   font: 600 16px var(--montserrat);
   color: #323232;
}

.divs p {
   font: 400 15px var(--opensans);
   line-height: 22px;
   color: #8b8b8b;
}

.two__page .two__page__h2 {
   font: 700 16px var(--montserrat);
   text-align: center;
   color: #323232;
}

.two__page .general__input {
   background-color: #eee;
}

.two__page .general__button {
   width: 150px;
}

/* ---------------FOOTER CSS STYLE--------------- */
.footer {
   padding: 30px 0;

   border-top: 2px solid #E7E7E7;
   background-color: #eee;
}

.foooter__flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.foooter__flex p {
   font: 400 14px var(--opensans);
   line-height: 22px;
   color: #8b8b8b;
}

.foooter__flex ul li {
   display: inline-block;
}

.foooter__flex ul li a {
   margin-left: 15px;

   font: 600 14px var(--montserrat);
   text-decoration: none;
   color: #323232;

   transition: all 0.5s ease;
}

.foooter__flex ul li a:hover {
   color: #0091bd;
}

.foooter__flex ul li a:active {
   color: #007396;
}